<div class="page-header">
  <%= build_breadcrumb [
    { title: "Relatório de performance", active: true }
  ] %>

  <h1>Relatório de performance</h1>
</div>

<div class="alert-arquivo"></div>

<%= render "filtro" %>