<div class="page-header">
  <%= build_breadcrumb [
    { title: "Arquivo de Retorno", active: true }
  ] %>

  <h1>Arquivo de Retorno</h1>
</div>

<div class="container-fluid container-arquivo">

  <div class="row" style="padding-bottom: 20px">
    <input type="hidden" name="usuario_id" id="usuario_id" value="<%= @usuario_logado.id %>">

    <%= link_to "Gerar arquivo", "", data: { "loading-text": "Processando..." }, id: "btn-gerar-arquivo", class: "btn btn-info" %>
  </div>
</div>