<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formulário de Abrangência</h3>
  </div>

  <%= gsan_form_for(@abrangencia, html: { class: 'form-horizontal' }) do |f| %>
    <div class="panel-body">

      
    </div>

     <div class="panel-footer">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
