<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Localidade</th>
      <th>Rota</th>
      <th>Coeficiente</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
<%= smart_listing.paginate %>