<div class="page-header">
  <%= build_breadcrumb [
    { title: "Contratos", link: contrato_medicoes_path },
    { title: "#{@contrato_medicao.numero} - #{@contrato_medicao.empresa.nome}", link: contrato_medicao_path(@contrato_medicao.id) },
    { title: "Nova Abrangência", active: true }
  ] %>

  <h1>Abrangência</h1>
</div>

<div class="panel panel-default">
  <form class="form-horizontal">
    <div class="panel-body">
      <div class="form-group">
        <label for="localidade" class="col-sm-2 control-label">Localidade</label>
        <div class="col-sm-4">
          <input type="text" name="localidade" id="localidade" placeholder="Localidade" class="form-control" value="" />
          <input type="hidden" name="query[localidade_id]" id="localidade_id" value="" />
        </div>
      </div>

      <div class="form-group">
        <label for="Setor Comercial" class="col-sm-2 control-label">Setor Comercial</label>
        <div class="col-sm-4">
          <input type="text" name="setor_comercial" id="setor_comercial" placeholder="Setor Comercial" class="form-control" value="" />
          <input type="hidden" name="query[setor_comercial_id]" id="setor_comercial_id" value="" />
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= submit_tag("Pesquisar", class: "btn btn-primary") %>
    </div>
  </form>
</div>

<%= render "form", edit: false %>
