<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Imovel</th>
      <th>Agente Cadastral</th>
      <th>Situação</th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |colunas| %>
      <tr>
        <td><%= link_to colunas.try(:id), '/' %></td>
        <td><%= 'Neymar Jr' %></td>
        <td><%= colunas.try(:atualizacao_cadastral_id) %></td>
      </tr>
    <% end %>
    <% if smart_listing.empty? %>
      <tr><th colspan="3"><center>Nenhum registro encontrado</center></th></tr>
    <% end %>
  </tbody>
</table>
<%= smart_listing.paginate %>
