<div class="page-header">
  <div class="actions pull-right">

    <ul class="top-nav">
      <li class="dropdown">
        <div class="dropdown-toggle dropdown-action btn" id="dropdownMenu1" data-toggle="dropdown">
          Ações
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <%= link_to edit_path do %>
              <i class="fa fa-pencil-square-o"></i> Editar
            <% end %>
          </li>
        </ul>
      </li>
    </ul>

  </div>

  <h1><%= title %></h1>
</div>