<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Ligação de água</th>
      <th>Coeficiente</th>
      <th>Usuário que reaizou a alteração</th>
      <th>Data da alteração</th>
    </tr>
  </thead>
  <tbody>
    <% @coeficiente.historico_coeficientes.each do |historico| %>
      <tr>
        <td><%= historico.ligacao_agua_situacao.descricao %></td>
        <td><%= number_with_precision(historico.numero_coeficiente, :precision => 1, separator: ',') %></td>
        <td><%= historico.usuario.nome %></td>
        <td><%= historico.criado_em.to_time.strftime('%d/%m/%Y %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
