<div class="page-header">
  <%= build_breadcrumb [
    { title: "Contratos", link: contrato_medicoes_path },
    { title: "Contrato", link: contrato_medicao_path(@contrato_medicao.id) },
    { title: "Novo Coeficiente", active: true }
  ] %>

  <h1>Coeficiente</h1>
</div>

<%= render "form", edit: false %>
